<nav id="nav" ng-controller="LocationCtrl">
  <h1 id="brand-name">Sound Around</h1>
    <% if user_signed_in? %>
      <form ng-submit="updateLocation()" class="user-location">
        <i class="icon fa fa-map-marker" aria-hidden="true"></i>&nbsp;
        <input ng-model="currentUser.location" ng-blur="updateLocation()" on-enter="updateLocation()" type="text" name="location" id="user-location-edit" autocomplete="off">
      </form>
    <% end %>
  <ul class="nav-links">
    <% if user_signed_in? %>
      <li class="dropdown-open username">
        <%= current_user.first_name %>&nbsp;
        <i class="fa fa-caret-down" aria-hidden="true"></i>
          <ul id="dropdown">
            <li class="dropdown-1"">
              <a href='#' class="nav-link" ng-click="editLocation($event)">
                Change Location&nbsp;&nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                Log Out&nbsp;&nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i>
              <% end %>
            </li>
          </ul>
      </li>
    <% else %>
      <li>
        <%= link_to 'Log In', new_user_session_path, class: "nav-link" %>
      </li>
      <li>
        <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
      </li> 
    <% end %>
  </ul>
</nav>
<div id="nav-pusher"></div>
