<section id="show-artist">
  <div class="row">
    <div class="title show-artist-title">
      <h1 class="name">{{ artist.name }}</h1>
    </div>
    <div class="col-sm-6 no-padding">      
      <div class="main-image-container">
        <img class="main-image" ng-src="{{artist.image_url}}">
      </div>
    </div>
    <div class="col-sm-6 artist-info-container">
      <div class="artist-info">
        <h2 class="num-events" ng-if="artist.events.length">
          {{ artist.events.length }} upcoming event{{ artist.events.length === 1 ? '' : 's' }}.
        </h2>
        <h2 class="num-events no-events" ng-if="!artist.events.length">
          No upcoming events.
        </h2>
        <input type="text" name="eventFilter" class="text-input" ng-model="eventFilter" placeholder="venue, city, etc...">
        <div class="row order-buttons">
          <div class="col-xs-6">
            <button class="btn-main btn-okay {{eventOrder === 'datetime' ? 'active' : 'inactive'}}" ng-click="setEventOrder('datetime')">Soonest First</button>
          </div>
          <div class="col-xs-6">
            <button class="btn-main btn-okay {{eventOrder === 'miles_away' ? 'active' : 'inactive'}}" ng-click="setEventOrder('miles_away')">Closest First</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <ul id="artist-events">
          <li ng-repeat="event in artist.events | filter : eventFilter | orderBy : eventOrderString">
            <div class="clearfix" ng-if="$index % 3 === 0"></div>
            <div class="col-sm-4 event-small">
              <p class="event-small-top">
                <span class="venue-name">
                  {{event.venue.name}}
                </span>
              </p>
              <p>
                {{ event.datetime | date }}
              </p>
              <p>
                {{ event.venue.city }}, {{ event.venue.region }} {{ event.venue.country }}
              </p>
              <p>
                {{ event.venue.miles_away | number : 1}} miles away.
              </p>
              <a  ng-if="event.ticket_status === 'available'" href="{{ event.ticket_url }}" target="_blank">
                <button class="btn-small btn-good btn-buy-ticket">
                  Buy tickets
                </button>
              </a>
              <span ng-if="event.ticket_status !== 'available'" class="text-bad">Sold out.</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>