@import 'bootstrap-grid';
html {
  min-height: 100%;
  background: radial-gradient(#FFF176, #F57F17);
  background-size: 100%;
  background-repeat: no-repeat
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav-pusher {
  height: 50px;
}

#nav {
  background: rgba(0, 0, 0, .80);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #C65600;
  z-index: 1000;
  padding: 0 2em;
  position: fixed;
  width: 100%;
  height: 50px;
  color: white;

  
  .icon {
    font-size: 1.2em;
  }
  .nav-links {
    margin-left: auto;
    height: 100%;
    line-height: 50px;
    li {
      display: inline-block;
      padding: 0 .3em;
    }

    .user-location {
      padding-right: 3em;
    } 

    .dropdown-open {
      perspective: 1000px;
      position: relative;

      &:hover > #dropdown li {
        display: block;        
      }
    }

    .username {
      padding-right: 3em;
      cursor: pointer;
    }

    #dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      padding: 0;

      li {
        background: rgba(0, 0, 0, .80);
        width: 155px;
        display: none;
        animation: dropdown 0.3s ease-in-out;
        animation-fill-mode: forwards;
        opacity: 0;
        transform-origin: top center;
        transition: 0.3s ease all;

        &:hover {
          background: rgba(50, 50, 50, .80);
        }

        @for $i from 1 to 3 {
          &:nth-child(#{$i}) {
            animation-delay: (0.15s * $i) - 0.15s;
          }
        }
      }
    }
  }

  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
  }
}

#user-location-edit {
  background: none;
  border: none;
  height: 50px;
  outline: 0;
}

#brand-name {
  font-size: 1.5em;
  // color: #000A01;
  color: white;
}

#main {
  padding: 2em;
}

.title {
  text-align: center;
  color: #FF8F00;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  padding: 1em 0 .7em;
  z-index: 1000;
}

.form-container {
  max-width: 530px;
  text-align: center;  
}

.center {
  margin: 0 auto;
}

.wrapper {
  background: white;
  color: #666;
}

.shadow {
  box-shadow: 0px 50px 30px -30px rgba(0,0,0,0.3);
}

.field {
  .text-label {
    display: block;
    margin-bottom: .6em;
  }
}

.remember-field {
  position: relative;
}

.remember-me {
  position: absolute;
  bottom: -1.8em;
  right: .5em;    
  color: #777;
}

.forgot-password {
  margin-top: 1.5em;
  display: block;
  text-align: right;
  color: #777;
}

.form {
  padding: 2em;
}

.text-input {
  display: block;
  padding: .8em 1.6em;
  width: 100%;
  margin-bottom: 1.5em;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid #999;
  outline: none;
  
  &:focus {
    border-color: #FF6F00;
  }
}

.btn-main {
  padding: .8em 1.6em;
  border-radius: 3px;
  background: #FF6F00;
  border-width: 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-size: .8em;
  letter-spacing: 1px;
  
  &:hover {
    background: darken(#FF6F00, 5%);
  }

  &:focus {
    outline:0;
  }
}

.btn-small {
  padding: .6em;
  border-radius: 1px;
  border-width: 0;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  font-size: .7em;
  letter-spacing: 1px;

  &:focus {
    outline:0;
  }
}

.btn-wide {
  width: 100%;
}

.btn-okay {
  background: #FFC964;
  color: black;
  transition: .4s ease all;
  &:hover {
    background: darken(#FFC964, 15%);
  }
}

.btn-okay.active {
  background: darken(#FFC964, 25%);
  border: 1px solid darken(#FFC964, 45%);
  color: white;

  &:focus {
    outline:0;
  }
}

.btn-okay.inactive {
  background: lighten(#FFC964, 5%);
  color: #555;
  border: none;

  &:hover {
    background:#FFC964;
  }
}

.btn-good {
  background: #73d980;
  color: black;

  &:hover {
    background: darken(#73d980, 15%);
  }
}

.btn-bad {
  background: #ff7770;
  color: black;

  &:hover {
    background: darken(#ff7770, 15%);
  }
}

.btn-pair {
  text-align: center;
  
  .btn-main {
    border-radius: 1px 0 0 1px;
    font-size: .7em;
    transform-origin: 0;
    width: 50%;
  }

  .btn-left {
    transform-origin: right;
  }

  .btn-right {
    transform-origin: left;
  }
}

.btn-buy-ticket {
  margin-top: .5em;
}

.artist-small {
  display: flex;
  align-items: center;
  padding: .5em;
  border-bottom: 1px solid #ddd;
  
  .thumb {
    width: 100px;
  }

  .info {
    padding: 2em;

    p {
      margin-bottom: .5em;
    }
  }
}

.last-artist {
  border-bottom: none;
}

.artist-selector {
  height: 100%;
}

.no-artists {
  padding: 6em;
  text-align: center;

  .tagline {
    color: #FF8F00;
    font-size: 1.3em;
  }
}

#show-artist {
  .main-image-container {
    width: 100%;
    max-height: 400px;
    overflow-y: hidden;

    .main-image {
      width: 100%;
    }
  }

  .title {
    background: #222;
    border-bottom: 1px solid black;
  }

  .name {
    color: #FF8F00;
    margin: 0;
  }
}

.artist-info-container {
  padding: 2em;
  padding-top: 4em;
  text-align: center;
}

.order-buttons {
  margin-top: 3em;
}

#artist-events {
  padding-top: 1em;
}

.num-events {
  font-size: 1.3em;
  color: #2ca03b;
  margin-bottom: 1em;
}

.no-events {
  color: #ff3d33;
}

.event-small {
  padding: 1em;
  .venue-name {
    text-transform: uppercase;
    color: black;
  }
}

.hide-button-container {
  padding: 3em 1em 1em 1em;
  text-align: center;
  position: relative;

  button {
    position: absolute;
    left: 0;
  }
}

.event-small-top {
  display: block;
  border-bottom: 1px solid #ddd;
}

.text-bad {
  color: #ff554d;
}

.alert {
  padding: 1em 8em;
}

.alert-success, .alert-notice {
  background: rgba(55, 198, 73, 0.5);
  border-bottom: 1px solid #00790F;
}

.alert-danger, .alert-alert {
  background: rgba(255, 119, 112, 0.5);
  border-bottom: 1px solid #b30900;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.fade-in-out.ng-hide-add, .fade-in-out.ng-hide-add {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  display: block !important;
}

.fade-in-out.ng-hide-add.ng-hide-add-active,
.fade-in-out.ng-hide-remove, {
  opacity: 0;
  z-index: 1;
}

.fade-in-out.ng-hide-add,
.fade-in-out.ng-hide-remove.ng-hide-remove.active {
  opacity: 1;
}

@keyframes dropdown {
  0% {
    opacity: 1;
    transform: rotateX(-90deg);
  }
  60% {
    transform: rotateX(30deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}