@import 'bootstrap-grid';
html {
  min-height: 100%;
  background: radial-gradient(#FFF176, #F57F17);
  background-size: 100%;
  background-repeat: no-repeat
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav-pusher {
  height: 50px;
}

#nav {
  // background: rgba(230, 100, 0, .35);
  background: rgba(0, 0, 0, .80);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #C65600;
  z-index: 1000;
  padding: 0 2em;
  position: fixed;
  width: 100%;
  height: 50px;

  .nav-links {
    margin-left: auto;
    li {
      display: inline;
      padding: 0 .3em;
    }
  }

  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
  }
}

#brand-name {
  font-size: 1.5em;
  // color: #000A01;
  color: white;
}

#main {
  padding: 2em;
}

.title {
  text-align: center;
  color: #FF8F00;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  padding: 1em 0 .7em;
  z-index: 1000;
}

.form-container {
  max-width: 530px;
  text-align: center;  
}

.center {
  margin: 0 auto;
}

.wrapper {
  background: white;
  color: #666;
}

.shadow {
  box-shadow: 0px 50px 30px -30px rgba(0,0,0,0.3);
}

.field {
  .text-label {
    display: block;
    margin-bottom: .6em;
  }
}

.remember-field {
  position: relative;
}

.remember-me {
  position: absolute;
  bottom: -1.8em;
  right: .5em;    
  color: #777;
}

.forgot-password {
  margin-top: 1.5em;
  display: block;
  text-align: right;
  color: #777;
}

.form {
  padding: 2em;
}

.text-input {
  display: block;
  padding: .8em 1.6em;
  width: 100%;
  margin-bottom: 1.5em;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid #999;
  outline: none;
  
  &:focus {
    border-color: #FF6F00;
  }
}

.btn-main {
  padding: .8em 1.6em;
  border-radius: 3px;
  background: #FF6F00;
  border-width: 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-size: .8em;
  letter-spacing: 1px;
  
  &:hover {
    background: darken(#FF6F00, 5%);
  }
}

.btn-small {
  padding: .6em;
  border-radius: 1px;
  border-width: 0;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  font-size: .7em;
  letter-spacing: 1px;
}

.btn-okay {
  background: #FFC964;

  &:hover {
    background: darken(#FFC964, 15%);
  }
}

.btn-good {
  background: #73d980;

  &:hover {
    background: darken(#73d980, 15%);
  }
}

.btn-bad {
  background: #ff7770;

  &:hover {
    background: darken(#ff7770, 15%);
  }
}

.artist-small {
  display: flex;
  align-items: center;
  padding: .5em;
  border-bottom: 1px solid #ddd;
  .thumb {
    width: 100px;
  }

  .info {
    padding: .5em;

    p {
      margin-bottom: .5em;
    }
  }
}

.last-artist {
  border-bottom: none;
}

.artist-selector {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 100%;
}

#show-artist {
  .main-image-container {
    width: 100%;

    .main-image {
      width: 100%;
    }
  }

  .name {
    color: black;
    margin: 0;
  }
}

#artist-events {
  padding-top: 1em;
}

.event-small {
  padding: 1em;
  .venue-name {
    text-transform: uppercase;
    color: black;
  }
}

.event-small-top {
  display: block;
  border-bottom: 1px solid #ddd;
}

.text-bad {
  color: #ff554d;
}

.alert {
  padding: 1em 8em;
}

.alert-success, .alert-notice {
  background: rgba(55, 198, 73, 0.5);
  border-bottom: 1px solid #00790F;
}

.alert-danger, .alert-alert {
  background: rgba(255, 119, 112, 0.5);
  border-bottom: 1px solid #b30900;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}